# Build directories
build/
out/

# CMake files
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
CTestTestfile.cmake

# Compiled object files and libraries
*.o
*.obj
*.lo
*.la
*.a
*.lib
*.so
*.dylib
*.dll
*.exe

# Log files
*.log

# Temporary and system files
*.swp        # Swap files from Vim/Neovim
*.tmp        # Temporary files
*.DS_Store   # macOS system file
Thumbs.db    # Windows system file

